@model EventListViewModel

@{
    var categoryListItems = Model.Categories.Select(c =>
        new SelectListItem { Value = c.CategoryId.ToString(), Text = c.Name }
    ).ToList();
    categoryListItems.Insert(0, new SelectListItem { Text = "All" });
}

<div class="row mt-5 mb-3">
    <form asp-action="Filter" method="post" class="form-check-inline">
        <label class="sr-only" for="SelectedCategory">Category</label>
        <select asp-for="SelectedCategory" asp-items="categoryListItems" class="custom-select custom-select-lg"></select>
        @*<select asp-for="SelectedCategory" asp-items="categoryListItems"></select>*@
        <button type="submit" class="btn btn-primary btn-lg mb-2">Filter</button>
    </form>
</div>

<div class="row">
    <div class="row row-cols-1 row-cols-md-2">
        @foreach (var item in Model.Events)
        {
            <div class="col mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Description">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
                        <p class="card-text">@item.Description</p>
                        <a class="btn btn-primary" type="button" asp-action="Details" asp-route-eventId="@item.EventId">Details</a>
                        @*<a href="#" class="btn btn-primary">View Details</a>*@
                        <a href="#" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


